.apx-chat-reg .ch-input{
    width: 100%;
    outline: none;
    border: initial;
    line-height: 1.5;
    resize: none;
}

.apx-chat-reg .ch-input-cont{
    border-top: 1px solid #ddd;
}

.apx-chat-reg .ch.ch-login{
    text-align: center;
    background-color: rgb(0, 151, 198);
    padding: 50px 10px;
}

.apx-chat-reg h3.title{
    color: white;
    font-weight: bold;
}

.apx-chat-reg .username{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
    color: #fff;
    font-weight: bold;
}